* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/jep-2.4.1.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/LGPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/Analyzer.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/AbstractFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/CFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/OSRFilterTree.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/PairComparison.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/TreeIdentifier.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/TreePair.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TreeLoader.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/data/PolytomyOnlyLeaves.tre -text
test/data/PolytomyOnlyLeavesWithAdditionalLeaves.tre -text
test/data/PolytomyWithSubtree.tre -text
test/data/PolytomyWithSubtreeWithAdditionalLeaves.tre -text
test/data/RootWith2Subtrees2Leaves.tre -text
test/data/RootWith2SubtreesNoLeaves.tre -text
test/data/RootWith3SubtreesNoLeaves.tre -text
test/data/SixTrees.nex -text
test/data/Tree1.tre -text
test/data/Tree2.tre -text
test/lib/hamcrest-core-1.3.jar -text
test/lib/junit-4.12.jar -text
test/src/info/bioinfweb/osrfilter/analysis/AnalyzerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/io/TreeIteratorTest.java -text svneol=unset#text/plain
