* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/commons-lang3-3.5.jar -text
main/include/lib/jep-2.4.1.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/LGPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/TopologicalAnalyzer.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/TreeSorter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/UserExpressionDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/UserExpressionsManager.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/AbstractFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/AbstractPairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/CFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/IDFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/MFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/NFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/NameFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/PairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/SharedTerminalsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/SplitsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/TerminalsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/TreeDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/TreeDependentPairDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/TreeIndependentPairDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/TreeUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/UserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/AbstractVarArgCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/ArithmeticMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/GeometicMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/HarmonicMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/IteratingPairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/MaxCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/MedianCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/MinCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/PairUserValuesIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/ProductCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/SumCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/VarArgCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/VarArgFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/analysis/calculation/vararg/VarArgStackIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/AnalysesData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/OSRFilterTree.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/PairComparisonData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/TreeData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/TreeIdentifier.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/TreePair.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/UserExpression.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/UserExpressions.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/UserValueData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/AnalysisParameters.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/ExportColumnList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/BooleanTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/NumericTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/TreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/TreeFilterSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/TreeFilterThreshold.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/filter/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/data/parameters/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/exception/DuplicateEntryException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/exception/InvalidParameterTypeException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TableWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TreeLoader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/TreeWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/parameters/AnalysisParameterIO.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/parameters/UserExpressionsAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/osrfilter/io/parameters/XMLConstants.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/data/DifferentTerminalCount.nex -text
test/data/PolytomyOnlyLeaves.tre -text
test/data/PolytomyOnlyLeavesWithAdditionalLeaves.tre -text
test/data/PolytomyWithSubtree.tre -text
test/data/PolytomyWithSubtreeWithAdditionalLeaves.tre -text
test/data/RootWith2Subtrees2Leaves.tre -text
test/data/RootWith2SubtreesNoLeaves.tre -text
test/data/RootWith3SubtreesNoLeaves.tre -text
test/data/SixTrees.nex -text
test/data/Tree1.tre -text
test/data/Tree2.tre -text
test/data/parameters/parameters.xml -text svneol=unset#text/plain
test/lib/hamcrest-core-1.3.jar -text
test/lib/junit-4.12.jar -text
test/src/info/bioinfweb/osrfilter/analysis/TopologicalAnalyzerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/analysis/TreeSorterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/analysis/UserExpressionsManagerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/data/AnalysisParametersTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/io/TableWriterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/osrfilter/io/TreeIteratorTest.java -text svneol=unset#text/plain
