* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/MANIFEST.MF -text svneol=unset#text/plain
main/include/lib/JavaFXBasePart.jar -text
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/commons-lang3-3.5.jar -text
main/include/lib/h2-1.4.200.jar -text
main/include/lib/jep-2.4.1.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/LGPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/AnalysisManager.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/IteratingFunctionResultMap.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/PairIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/TopologicalAnalyzer.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/UserExpressionDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/UserExpressionsManager.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/AbstractFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/AbstractPairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/CFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/IDFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/MFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/NFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/NameFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/PairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/SharedTerminalsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/SplitsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/TerminalsFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/TreeDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/TreeDependentPairDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/TreeIndependentPairDataFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/TreeUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/UserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/AbstractVarArgCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/ArithmeticMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/GeometicMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/HarmonicMeanCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/IteratingPairUserValueFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/MaxCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/MedianCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/MinCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/ProductCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/SumCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/VarArgCalculator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/VarArgFunction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/analysis/calculation/vararg/VarArgStackIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/AnalysesData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/DatabaseValue.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/PairData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/TTATree.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/TreeData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/TreeIdentifier.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/TreePair.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/UserExpression.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/UserExpressions.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/UserValueData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/UserValues.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/DatabaseConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/DatabaseIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/DatabaseTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/DatabaseTools.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/PairDataTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/PairUserDataTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/TreeDataTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/TreeUserDataTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/UserDataTable.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/database/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/AnalysisParameters.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/ExportColumnList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/ReferenceTreeDefinition.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/RuntimeParameters.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/BooleanTreeFilterDefinition.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/NumericTreeFilterDefinition.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/TreeFilterDefinition.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/TreeFilterDefinitionSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/TreeFilterThreshold.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/filter/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/data/parameters/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/exception/AnalysisException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/exception/DuplicateEntryException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/exception/InvalidParameterTypeException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/exception/SQLParseException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/AbstractTableWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/TopologicalDataFileNames.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/TopologicalDataReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/TopologicalDataWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/TopologicalDataWritingManager.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/TreeWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/UserValueTableWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/data/DataIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/data/PairDataIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/data/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/AbsoluteNumericTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/BooleanTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/NumericTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/RelativeNumericTreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/TreeFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/TreeFilterFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/TreeFilterSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/FilterDocumentDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/FilterTreeGroupAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/PrefixEventReplacer.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/UniqueIDEventReceiverDecorator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/UniqueIDObjectListAdapterDecorator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/UniqueIDTreeAdapterDecorator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/document/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/filter/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/parameters/AnalysisParameterIO.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/parameters/FormatAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/parameters/RuntimeParameterAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/parameters/UserExpressionsAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/parameters/XMLConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/AbstractTreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/AnalysisTreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/FilterTreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/OptionalLoadingTreeIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/TreeSelector.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/io/treeiterator/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/AbstractTTATableModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/CmdProgressMonitor.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/MainFrame.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/MemoryUnitComboBoxModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/TreeFilterTableModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/UserExpressionsTableModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/dialogs/AddIntervalThresholdsDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/dialogs/CopyThresholdsDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/tta/ui/dialogs/ReplaceRetainThresholdsPanel.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/data/DifferentTerminalCount.nex -text
test/data/NeXMLTrees.xml -text svneol=unset#text/plain
test/data/PolytomyOnlyLeaves.tre -text
test/data/PolytomyOnlyLeavesWithAdditionalLeaves.tre -text
test/data/PolytomyWithSubtree.tre -text
test/data/PolytomyWithSubtreeWithAdditionalLeaves.tre -text
test/data/RootWith2Subtrees2Leaves.tre -text
test/data/RootWith2SubtreesNoLeaves.tre -text
test/data/RootWith3SubtreesNoLeaves.tre -text
test/data/SixTrees.nex -text
test/data/Tree1.tre -text
test/data/Tree2.tre -text
test/data/parameters/parameters.xml -text svneol=unset#text/plain
test/lib/hamcrest-core-1.3.jar -text
test/lib/junit-4.12.jar -text
test/src/info/bioinfweb/tta/analysis/PairIteratorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/analysis/TopologicalAnalyzerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/analysis/UserExpressionsManagerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/data/AnalysisParametersTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/data/database/PairDataTableTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/data/database/TreeDataTableTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/PairDataIteratorPerformanceTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/TopologicalDataXXXTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/UserValueTableWriterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/filter/FilterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/parameters/RuntimeParameterAdapterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/treeiterator/AnalysisIteratorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/treeiterator/FilterTreeIteratorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/io/treeiterator/OptionalLoadingTreeIteratorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/test/GCTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/test/H2ColumnTypePerformanceTests.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/test/H2Test.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/test/VoidTopologicalWritingManager.java -text svneol=unset#text/plain
test/src/info/bioinfweb/tta/ui/UserExpressionsTableModelTest.java -text svneol=unset#text/plain
